// TEXT COLORS
$text-primary: #6d6d6d;
$text-secondary: #2A2A2A;
$text-tertiary: #fff;
$header-primary: #9258FF;
$header-secondary: #5A2AB5;
$header-tertiary: #202020;

// OTHER COLORS
$btn-color: #f60000;
$bg-primary: #fff;
$bg-secondary: #5A2AB5;
$bg-tertiary: #742BFF;
$border-color: #e6e6e6;

// TEXT FONTS
$font-primary: Nunito, sans;
$font-secondary: 'Gotham Rounded', sans;
$font-feed-size: 16px;
