@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900');

@import 'partials/hamburgers';
@import 'partials/glide.core.min';
@import 'partials/variables';
@import 'partials/functions';
@import 'partials/mixins';

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-Medium.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-Bold.otf');
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $text-primary;
  font-family: $font-primary;
  font-size: 20px;
  overflow-x: hidden;
  @media screen and (max-width: 500px) {
    font-size: 18px;
  }
}

* {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  color: $header-secondary;
  text-align: center;
}

h1 {
  line-height: em(25px);
  font-size: em(50px);
  color: $text-secondary;
  max-width: 890px;
  width: calc(100% - 80px);
  margin: 0 auto;
}

h2 {
  font-size: em(48px);
  margin: 0;
}

h4 {
  font-size: em(22px);
}


a {
  text-decoration: none;
  color: inherit;
  transition: .3s;
  &.inline__link {
    color: $header-primary;
    font-style: italic;
  }
  &:hover {
    opacity: .5;
  }
}

.row {
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
}

.row__header {
  width: calc(100% - 80px);
  margin: 0 auto;
}

// ***********************
// NAV
// ***********************

.nav {
  width: 100%;
  height: 104px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  background-color: $bg-primary;
  z-index: 9999;
  display: flex;
  align-items: flex-end;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: calc(100% - 80px);
  margin: 0 auto;
  height: 80px;
}

.nav__logo {
  display: flex;
  align-items: center;
  color: $bg-secondary;
  width: 200px;
}

.nav__links {
  display: flex;
  list-style: none;
  padding: 0;
  font-size: em(18px);
  @media screen and (max-width: 990px) {
    flex-direction: column;
    position: fixed;
    height: 100vh;
    background-color: $bg-secondary;
    right: -100%;
    top: 0;
    align-items: flex-end;
    padding: 55px 80px;
    margin: 0;
    transition: .3s;
    &.nav__links--open {
      right: 0;
    }
  }
}

.nav__toggle {
  display: none;
  z-index: 9000;
  transition: .3s;
  .hamburger {
    outline: none;
    transition: .3s;
    display: flex;
    align-items: center;
    opacity: 1 !important;
  }
  .hamburger-inner {
    &, &::before, &::after {
      background-color: $header-primary;
    }
  }
  @media screen and (max-width: 990px) {
    display: flex;
    align-items: center;
    &.nav__toggle--open {
      transform: translateX(-200px);
      @media screen and (max-width: 500px) {
        transform: translateX(-180px)
      }
    }
    .is-active {
      .hamburger-inner {
        &, &::before, &::after {
          background-color: $bg-primary;
        }
      }
    }
  }
}

.nav__links li {
  color: $header-primary;
  font-family: $font-secondary;
  font-weight: bold;
  display: flex;
  align-items: center;
  &:not(:first-of-type) {
    margin-left: 45px;
    @media screen and (max-width: 990px) {
      margin-left: 0;
      margin-top: 40px;
    }
  }
  @media screen and (max-width: 990px) {
    text-align: right;
    color: $text-tertiary;
    z-index: 9999;
  }
}

// ***********************
// HERO
// ***********************

.row__hero {
  padding: 280px 0 114px;
}

.subheader__hero {
  font-family: $font-primary;
  font-weight: normal;
  color: $text-secondary;
  max-width: 730px;
  line-height: 30px;
  margin: 40px auto 0;
  width: calc(100% - 80px);
  &:nth-of-type(2) {
    margin-top: 20px;
  }
}

.btn {
  cursor: pointer;
  width: 230px;
  padding: 20px 0;
  text-align: center;
  margin: 100px auto 0;
  background-color: $btn-color;
  border-radius: 100px;
  color: $text-tertiary;
  box-shadow: 0 10px 80px transparentize($btn-color, .6);
  font-weight: bold;
  font-family: $font-secondary;
  transition: .3s;
  &:hover {
    box-shadow: 0 15px 85px transparentize($btn-color, .6);
    transform: translateY(-5px);
  }
  &:active {
    transition: .1s;
    box-shadow: 0 5px 75px transparentize($btn-color, .6);
    transform: translateY(5px);
  }
}

// ***********************
// ABOUT
// ***********************

.row__about {
  padding: 200px 0;
  overflow: hidden;
  &::before {
    z-index: 0;
    display: block;
    position: absolute;
    content: '';
    width: 200vw;
    height: calc(100% - 150px);
    background-color: $bg-secondary;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(4deg);
  }
  &::after {
    z-index: -1;
    display: block;
    position: absolute;
    content: '';
    width: 200vw;
    height: calc(100% - 150px);
    background-color: $bg-tertiary;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-4deg);
    @media screen and (max-width: 500px) {
      top: 50%;
    }
  }
}

.header__about {
  position: relative;
  z-index: 1;
  color: $text-tertiary;
}

.about {
  position: relative;
  width: calc(100% - 80px);
  max-width: 1180px;
  column-count: 2;
  column-gap: 40px;
  margin: 62px auto 0;
  z-index: 10;
  color: $text-tertiary;
  @media screen and (max-width: 750px) {
    column-count: 1;
  }
}

.paragraph__about {
  margin: 0 0 20px;
  line-height: 30px;
}

// ***********************
// DIAGRAMS
// ***********************

.row__diagrams {
  padding: 60px 0 190px;
  a {
    font-weight: bold;
    color: $header-primary;
  }
}

.header__diagrams {
  margin-bottom: 80px;
}

.diagram {
  margin: 0 auto 160px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.diagram__diagram {
  margin: 0 auto;
  overflow-x: auto;
  color: $header-secondary;
  img:not(.icon) {
    width: 100%;
    @media screen and (max-width: 500px) {
      width: 500px;
      margin-bottom: 20px;
    }
  }
}

.table__container {
  border: 3px solid $header-secondary;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
}

.diagram__table {
  table-layout: fixed;
  font-size: em(30px);
  border-collapse: collapse;
  td {
    width: 245px;
    border: 3px solid $header-secondary;
    padding: 20px;
    &:nth-of-type(4n) {
      border-right: 0;
    }
    &:nth-of-type(5n + 1) {
      border-left: 0;
      font-weight: bold;
      ul {
        font-weight: normal;
        list-style-type: none;
        padding-left: 0;
        margin: 10px 0;
        li {
          font-size: em(26px, 30px);
          &:not(:last-of-type) {
            margin-bottom: 8px;
          }
          &:before {
            display: inline;
            content: '- ';
          }
        }
      }
    }
  }
  thead tr td {
    border-top: 0;
    padding: 30px 45px;
    text-align: center;
    font-weight: bold;
  }
  tbody tr:last-of-type td {
    border-bottom: 0;
  }
  .icon {
    display: block;
    margin: 10px auto 23px;
  }
  .icon--small {
    height: 20px;
  }
  .icon--large {
    height: 30px;
  }
  .icon--mb {
    margin: 20px auto 40px;
  }
}

// ***********************
// SUBPROJECTS
// ***********************

.aims {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  width: calc(100% - 80px);
  margin: 70px auto 0;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.aim {
  width: calc(100% / 3 - 15px);
  border-radius: 10px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.21);
  background-color: $bg-primary;
  padding: 70px 43px;
  text-align: center;
  transition: .3s;
  @media screen and (max-width: 800px) {
    width: 100%;
    display: flex;
    text-align: left;
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 500px) {
    flex-wrap: wrap;
    text-align: center;
  }
  &:hover {
    transform: translateY(-10px)
  }
}

.aim__icon {
  height: 160px;
  @media screen and (max-width: 800px) {
    width: 100%;
    margin-right: 20px;
  }
}

.aim__details {
  @media screen and (max-width: 800px) {
    width: 130%;
  }
}

.aim__header {
  margin-top: 0;
  margin-bottom: 60px;
  @media screen and (max-width: 800px) {
    text-align: left;
  }
  @media screen and (max-width: 500px) {
    text-align: center;
  }
}

.aim__description {
  line-height: 30px;
  @media screen and (max-width: 800px) {
    margin-bottom: 0;
  }
}

.aim__more {
  display: block;
  text-align: right;
  color: $header-primary;
  font-weight: bold;
  margin-top: 20px;
}

.row__subprojects {
  padding: 150px 0 160px;
  margin: 0 auto;
  overflow: visible;
  &::before {
    z-index: 0;
    display: block;
    position: absolute;
    content: '';
    width: 200vw;
    height: calc(100% - 320px);
    background-color: $bg-secondary;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(4deg);
  }
  &::after {
    z-index: -1;
    display: block;
    position: absolute;
    content: '';
    width: 200vw;
    height: calc((100% - 320px) / 2);
    background-color: $bg-tertiary;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -100%) rotate(-5deg);
  }
}

.header__subprojects {
  position: relative;
  color: $text-tertiary;
  margin: 0 auto 52px;
}

h3 {
  color: $header-secondary;
  margin: 0 0 60px;
  text-align: left;
  font-size: em(36px);
}

.row__projects {
  padding-bottom: 80px;
}

.projects {
  width: calc(100% - 80px);
  max-width: 1180px;
  margin: 0 auto;
}

.project {
  clear: both;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
  &:not(:first-of-type) {
    margin-top: 98px;
  }
}

.project__paragraph {
  margin: 0 auto 40px;
  line-height: 30px;
}

.additional {
  width: calc(50% - 17px);
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.additional--left {
  float: left;
  @media screen and (max-width: 600px) {
    float: none;
  }
}

.additional--right {
  float: right;
  @media screen and (max-width: 600px) {
    float: none;
  }
}

// ***********************
// DOWNLOADS
// ***********************

.row__downloads {
  padding: 180px 0;
  overflow: visible;
  &::before {
    z-index: 0;
    display: block;
    position: absolute;
    content: '';
    width: 200vw;
    height: calc(100% - 120px);
    background-color: $bg-secondary;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-4deg);
  }
  &::after {
    z-index: -1;
    display: block;
    position: absolute;
    content: '';
    width: 200vw;
    height: calc((100% - 120px) / 2);
    background-color: $bg-tertiary;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%) rotate(5deg);
    @media screen and (max-width: 500px) {
      top: 48%;
    }
  }
}

.header__downloads {
  color: $text-tertiary;
  position: relative;
  z-index: 1;
}

.paragraph__downloads {
  position: relative;
  z-index: 1;
  max-width: 1180px;
  width: calc(100% - 80px);
  margin: 40px auto 60px;
  color: $text-tertiary;
  font-size: em(24px);
  line-height: 34px;
}

.downloads__links {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  width: calc(100% - 80px);
  margin: 0 auto;
  padding: 0;
  @media screen and (max-width: 500px) {
    flex-wrap: wrap;
    max-width: 200px;
    justify-content: center;
  }
}

.download__anchor {
  &:hover {
    opacity: 1;
  }
  @media screen and (max-width: 500px) {
    &:not(:first-of-type) {
      margin-top: 40px;
    }
  }
}

.download__link {
  border: 2px solid $text-tertiary;
  padding: 20px;
  color: $text-tertiary;
  font-weight: bold;
  font-family: $font-secondary;
  transition: .3s;
  overflow: hidden;
  position: relative;
  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 110%;
    height: 230%;
    background: $text-tertiary;
    top: 0;
    left: 0;
    transform: translate(100%, -28%) rotate(20deg);
    transition: .3s;
    z-index: -1;
  }
  &:hover {
    opacity: 1;
    color: $bg-secondary;
    &::before {
      transform:  translate(-4%, -28%) rotate(20deg);
    }
  }
  @media screen and (max-width: 500px) {
    width: 200px;
    text-align: center;
  }
}

// ***********************
// HELP
// ***********************

.row__help {
  padding: 0;
  padding-top: 90px;
  width: calc(100% - 80px);
  max-width: 800px;
  margin: 0 auto;
}

.header__help {
  margin-bottom: 80px;
}

.help__list {
  margin-top: 40px;
  margin-bottom: 60px;
}

.talks__list {
  margin-left: 20%;
  margin-right: 20%;
}

.help__list li, .talks__list li {
  margin-bottom: 8px;
}

#help .download__link {
  background: $bg-primary;
  width: 200px;
  text-align: center;
  color: $bg-secondary;
  border: 2px solid $bg-secondary;
  @media screen and (max-width: 500px) {
    width: 160px;
  }
  &:hover, &:active {
    transform: none;
    box-shadow: none;
    background: $bg-secondary;
    color: $text-tertiary;
  }
}

// ***********************
// BOARDS
// ***********************

.row__boards {
  padding: 90px 0 130px;
  margin: 0 auto;
}

.boards__container {
  position: relative;
  max-width: 1180px;
  width: calc(100% - 160px);
  margin: 60px auto 0;
}

.boards {
  margin: 0 auto;
  overflow-x: hidden;
}

.glide__slides {
  padding-top: 10px;
}

.board__anchor {
  transition: .3s;
  &:hover {
    opacity: 1;
    transform: translateY(-10px);
  }
}

.board {
  text-align: center;
}

.board__img {
  width: 100%;
  height: 25vw;
  max-height: 330px;
  min-height: 200px;
  object-fit: contain;
  border: 1px solid #979797;
  margin-bottom: 40px;
  padding: 30px;
  image-rendering: pixelated;
  @media screen and (max-width: 800px) {
    margin-bottom: 20px;
  }
}

.board__name {
  font-style: italic;
  font-weight: bold;
  color: $header-secondary;
  display: block;
}

.board__fpga {
  display: block;
}

.boards__scroll {
  background: none;
  padding: 0;
  border: 0;
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% - 40px));
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $header-primary;
  outline: 0;
  svg {
    width: 30px;
    * {
      transition: .2s;
    }
  }
  &:hover {
    color: transparentize($header-primary, .3);
  }
}

.boards__scroll--left {
  left: -35px;
}

.boards__scroll--right {
  right: -35px;
}

// ***********************
// FOOTER
// ***********************

.footer {
  padding: 70px 0;
  font-size: em(16px);
  text-align: center;
  background-color: $bg-secondary;
  color: $text-tertiary;
}

.footer__wrapper {
  max-width: 1180px;
  margin: 0 auto;
  width: calc(100% - 80px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  display: flex;

  img {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 30px;
  }
}
